{%  extends 'base.html' %}

{% block content %}




<div class="col-12 mt-5">

    <div class="row">
        <div class="col-2">
            <h1 class="header-title">Approved Artwork ({{ artworks.paginator.count }})</h1>
        </div>
        <div class="col-4">
            <a href="{% url 'approved_view' %}" >Approved</a>  | <a href="{% url 'collection_view' %}" style="color: black;"> Not Approved</a> 
        </div>
    </div>
    {% if success %}
    <div class="alert alert-danger">
        {{success}}
    </div>
    {% endif %}
    <form action="{% url 'change_approved_status_view'  %}" method="POST">
        <div class="row">

            {% csrf_token %}
            {% for artwork in artworks %}
            <input type="hidden" value="{{artwork.id}}" name="id">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{artwork}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{artwork.title}}</h5>
                        <p class="card-text">{{artwork.description|safe|truncatechars:40}}</p>
                    </div>
                    <div class="card-body">

                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" value="{{artwork.id}}" name="approve" class="custom-control-input"
                                id="{{artwork.id}}">
                            <label class="custom-control-label" for="{{artwork.id}}"> Marked as not approved</label>
                        </div>

                        <a href="{% url 'detail_view' artwork.id %}" class="card-link">View details</a>

                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
        {% if  artworks.paginator.count > 0 %}
        <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Save Changes</button>
        {% endif %}
    </form>
    <div class="row">
        <div class="col-8 offset-md-2">
            {% if artworks.has_other_pages %}
            <ul class="pagination">
                {% if artworks.has_previous %}
                <li><a href="?page={{ artworks.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in artworks.paginator.page_range %}
                {% if artworks.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if artworks.has_next %}
                <li><a href="?page={{ artworks.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}