{%  extends 'base.html' %}

{% block content %}




<div class="col-12 mt-5" style="background-color: white;">

<br>
<br>
    <div class="row">

        <div class="col-6">
            <div class="card">
                <img class="card-img-top"
                    src="https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 2520w"
                    alt="Card image cap">
            </div>
        </div>
        <div class="col-6" style="padding: 0% 4% 0% 4%;">
            <h1 class="header-title">Head of an Oba</h1>
            <br>
            <h6 class="header-title1">Artist</h6>
            <p>Dotun Adekunle</p>
            <br>
            <h6 class="header-title1">Description</h6>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit. </p>
            <br>
            <h6 class="header-title1">Culture </h6>
            <p>Edo people, Nigeria</p>
            <br>
            <h6 class="header-title1">Medium </h6>
            <p> Brass, iron</p>
            <br>

            <h6 class="header-title1">Dimensions </h6>
            <p> 48 x 31.5 x 33.8 c</p>
        </div>

    </div>
    <br>
<br>
</div>

{% endblock %}