{%  extends 'home.html' %}

{% block content %}




<div class="col-12 mt-5" style="background-color: white;">

    <div class="row">

        <div class="col-6">
            <div class="card">
                {% for art in artwork %}
                <img class="card-img-top" src="{{art.image.url}}" alt="Card image cap">
                <br>
                {% endfor %}
            </div>
        </div>
        <div class="col-6" style="padding: 0% 4% 0% 4%;">
            {% for art in artwork|slice:":1" %}
            <h1 class="header-title">{{ art.post.title }}</h1>
            <br>
            <h6 class="header-title1">Artist</h6>
            <p>{{art.post.owner.first_name }} {{art.post.owner.last_name}}</p>
            <br>
            <h6 class="header-title1">Description</h6>
            <p>{{art.post.description}} </p>
            <br>
            <h6 class="header-title1">Culture </h6>
            <p>{{art.post.material}}</p>
            <br>
            <h6 class="header-title1">Medium </h6>
            <p>{{art.post.medium}}</p>
            <br>

            <h6 class="header-title1">Dimensions </h6>
            {{art.post.width}}cm x {{art.post.height}}cm x {{art.post.depth}}cm
            {{ break }}
            {% endfor %}
        </div>

    </div>
    <br>
    <br>
</div>

{% endblock %}